<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Signifly Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="SHOPIFY_API_KEY" value="fb44aa577c0b07fb8bf22f1d3975d1a3" />
        <env name="SHOPIFY_PASSWORD" value="3d00f045dad78899b4264e9d9c29552d" />
        <env name="SHOPIFY_HANDLE" value="sika-test" />
    </php>
</phpunit>
